body {
    padding-top: 60px;
    padding-bottom: 40px;
}

li p {
    margin: 0px;
}

.truckinformation p {
    margin: 0px;
}

.regnbr {
    color: #000;
}

.texterror {
    color: #b94a48;
}

.progress {
    margin: auto 0px;
}

.servicebutton {
    margin-top: 0px;
}

.reportissuebutton {
    margin-top: 15px;
}

.imgwithmargin {
    margin-top: 15px;
}
