/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
	color: #101010;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight: normal;
	background-color: #fff;
	height: 100%;
}

a {
	text-decoration: none;
	color: #FF7200; 
}

a:hover {
	color: #70B3FF; 
}

h1 {
	font-weight: normal;
	font-size: 1.625em;					/* 26px / 16px = 1.625em */	
	color: #666666;
}

h2 {
	font-weight: normal;
	font-size: 1.375em;					/* 22px / 16px = 1.375em */	
	color: #666666;
}

h3 {
	font-weight: normal;
	font-size: 1em;						/* 16px / 16px = 1em */	
	color: #666666;
}
 
h4 {
	font-weight: normal;
	font-size: 0.875em;					/* 14px / 16px = 0.875em */
	color: #666666;
}

#logo-text {
	float: right;
	color: #101010;
}

#logo-text-left,
{
	float: left;
	color: #101010;
}

.bluetext {
	color: #70B3FF;
}

.orangetext {
	color: #FF7200;
}

#content {
	clear: both;
	padding: 3em 0 0 0;
	position: relative;
}

#leftcontent,
#rightcontent {
    width: 18.75em;						/* 300px / 16px = 18.75em */
    height: auto;
    position: absolute;
    top: 2em;
    background-color: #fff;
    padding: 0.5em 1em 1em 1em;
    z-index: 10;
}

#leftcontent {
	left: 1em;
}

#rightcontent {
    right: 1em;
    z-index: 11;
}

#appbadge {
	height: 40px;
}


/* Fix for accordion color */
ul.accordion > li.active { border-top: 3px solid #70B3FF; }